@model HomeAccessoriesStore.Models.ProductCategories

@{
    ViewData["Title"] = "ProductCategories Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ProductCategories Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Products.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductCategoriesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
