@model HomeAccessoriesStore.Models.Products

@{
    ViewData["Title"] = "Products Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Photo != null)
            {
                <img src="@("~/img/pics/"+Model.Photo)" asp-append-version="false" width="200px" height="200px" />

            }

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
@*<div>
        <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
@*Form*@
<form method="post" action="/Shop/AddToCart" class="offset-2">
    @*Hide field for the selected product id*@
    <input type="hidden" id="ProductId" name="ProductId" value="@Model.ProductId" />
    <div class="form-group">
        <label class="control-label" for="Quantity">Quantity:</label>
        <input name="Quantity" id="Quantity" required min="1" max="99999" type="number" class="input-small" />
    </div>
    <button class="btn btn-primary">Add To Cart</button>
</form>
<a href="javascript:history.go(-1);"> <<< Back </a>